*{
    margin:0;
    padding: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
}

img {
    border-radius: 75%;
    width: 300px;
    height: 300px;
    border: 1px solid gray

 }

 h1 {
    color: white;
    margin-top: 31px;
    margin-bottom: 8px;
 }

 p {
    color: crimson; 
 }

 ul {
    margin-top: 35px;
    contain: center;
    padding: 15px;
 }
 
 li{
    margin-bottom: 18px;
    list-style: none;
    
 }

 a{ 
    background-color: lightskyblue;
    color: blue;
    padding: 15px;
    padding-left: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
       
 }

 a:hover{
    background-color: darkblue;
    color: whitesmoke;
    
    
 }
 footer{
    color: white;
    contain: center;
 }

 .container {
    background-color: black;
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    
 }