*{
    margin:0;
    padding: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
}

img {
    border-radius: 75%;
    width: 260px;
    height: 260px;
    border: 2px solid gray
    
    

 }

 h1 {
    color: white;
    margin-top: 25px;
    margin-bottom: 8px;
    
 }

 p {
    color: crimson; 
    font-style: italic;
 }

 ul {
    margin-top: 2px;
    contain: center;
    padding: 5px;
 }
 
 li{
    margin-bottom: 15px;
    list-style: none;
    
 }

 a{ 
    
    background-color: lightskyblue;
    color: blue;
    padding: 15px;
    padding-left: 20x;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    font-weight: bold
    
       
 }

 a:hover{
    background-color: green;
    color: whitesmoke;
    
    
 }
 footer{
    color: white;
    contain: center;
 }

 .container {
    background-color: black;
    width: 320px;
    text-align: center;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
 }   
   