*{
    margin:0;
    padding: 0;
}

@keyframes drowning {
   from {background-position: 0 0;}
   to {background-position: 100% 70%;}
}
@keyframes efeitinho {
   from {color: #00050a;}
   to {color:rgb(243, 247, 247)}
}

body {
   background-image: linear-gradient(to top, #092c4b 43%, #02191e 57%);
   background-size: 1050% 610%;
   animation: drowning 4s infinite alternate;
   background-color: rgb(0, 0, 0);
   font-family: sans-serif;
}

img {
    border-radius: 75%;
    width: 260px;
    height: 260px;
    border: solid 3px gray

 }

 h1 {
    color: white;
    margin-top: 25px;
    margin-bottom: 8px;
    
 }

 p {
    color: crimson; 
    font-style: italic;
 }

 ul {
    margin-top: 2px;
    contain: center;
    padding: 5px;
 }
 
 li{
    margin-bottom: 18px;
    list-style: none;
    
 }

 a{ 
    
    background-color: rgb(28, 192, 237);
    color: rgb(0, 0, 0);
    padding: 15px;
    padding-left: 20px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    font-weight: bold;
    /*box-shadow: 5px 5px #130177;*/
    transition: all .2s ease-in-out;
       
 }

 a:hover{
    background-color: rgb(61, 218, 61);
    color: rgb(24, 18, 198);
    box-shadow: 8px 8px #dee900aa;
    transition: all .2s ease-in-out;
    
 }
 footer{
    color: white;
    contain: center;
 }

 .container {
    
    width: 320px;
    text-align: center;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
 }   

